body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
background-color: #aaa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.konvajs-content{
  /* width: 200px !important; */
  /* height: 200px !important; */
  width: 50vw;
  height: 50vw;
  border: solid 3px #888;
  /* background-color: tan; */
}
canvas{
  display: none;
  border: 10px solid red  !important;
  width: 40vw !important;
  height: 40vw !important;
  padding: 100px;
}