body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
background-color: #aaa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.konvajs-content{
  /* width: 200px !important; */
  /* height: 200px !important; */
  width: 50vw !important;
  height: 50vw !important;
  border: solid 3px #888;
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 10px;
  /* background-color: tan; */
}
canvas{
  display: none;
  width: 100% !important;
  height: 100% !important;
  padding: 100px;
}






/* OLDDDDDDDDDDD */

html {
  height: 100%;
}
body {
  height: 100%;

  margin: 0;
  /* overflow: hidden; */

/* background-color: #eee; */
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  align-content: center;
}

/* canvas {
  background: radial-gradient(circle, #eaeaea 0%, #777 100%);
width: 90vw !important;
  height: 90vw  !important;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  display: block;  
} */


.icon {
  justify-content: right;
  z-index: 1000;
  padding: 10px;
  opacity: 0.7;
  display: inline-block;
  padding: 5px 10px;
}

/* AVATAR */
.panel{
  /* width:30vw; */
  /* height: calc( 25vw); */
  height: 40vw;
  position: absolute;
  display: flex;
  /* padding: 100px 0; */
  justify-content: center;
  align-content: center;
  flex-flow: column;
}

.l-panel{
  left: 0;
  width:30vw;
  /* height: 30vw; */
}
.r-panel{
  right: 0;
  width:30vw;

}

.box{
  text-align: center;
  width: 100%;
  display: block;
  margin: 30px 0;

}

.title{
  font-weight: bold;
}

.change{
  margin: 10px;
}

.center{
  background-color: #fff;
  display: inline-block;
  width: 100px  !important;
  padding: 8px;
  margin: 0 10px;
  border-radius: 200px;
  font-size: 17px;
}

.btn{
  background-color: #02f7b5;
  color: #fff;
  font-weight: bold;
  font-size: 17px;
  /* padding: 5px; */
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 100px;
}

.SH{
  /* text-align: center; */
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 6px 18px;
  border-radius: 60px;
}