
@font-face {
  font-family: 'AnonymousPro';
  src: local('AnonymousPro'), url(./AnonymousPro-Regular.ttf) format('truetype');
}

html {
  height: 100%;
}
body {
  background-color: #f3f3f3;
  height: 100%;
  font-family:'AnonymousPro','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  margin: 0;
  /* overflow: hidden; */

/* background-color: #eee; */
  /* display: flex; */
  /* justify-content: center; */
  /* height: 100%; */
  /* align-items: cen ter; */
  /* align-content: center; */
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.konvajs-content{
  /* width: 200px !important; */
  /* height: 200px !important; */
  width: 33vw !important;
  height: 33vw !important;
  /* border: solid 1px #888; */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #8bacdd;
  background-image: linear-gradient(-135deg, #bed0ec, #7aa0d8);
  /* background-color: tan; */
  border-radius: 10px;
}
canvas{
  display: none;
  width: 100% !important;
  height: 100% !important;
  padding: 100px;
  border-radius: 10px;

}

/* OLDDDDDDDDDDD */

.icon {
  justify-content: right;
  z-index: 1000;
  padding: 10px;
  opacity: 0.7;
  display: inline-block;
  padding: 5px 10px;
}

/* AVATAR */
.panel{
  /* width:30vw; */
  /* height: calc( 25vw); */

  /* position: absolute; */
  /* display: flex; */
  /* padding: 100px 0; */
  /* justify-content: center; */
  /* align-content: center; */
  /* flex-flow: column; */
  border: 1px pink solid;
  border-radius: 10px;
  /* border: 1px solid pink; */
}

.l-panel{
  /* left: 0; */
  /* height: 30vw; */
}
.r-panel{
  /* right: 0; */
}
.red{
  background-color: rebeccapurple;
  width: 100%;
}

.box{
  border: 1px solid green;
  text-align: center;
  /* width: calc(100% - 80px); */
  display: block;
   /* border: solid 1px green; */
  /* background-color: hotpink;  */
  margin: 10px 0;
  padding:0 40px;

}

.title{
  font-weight: bold;
  display: inline-block;
  /* width: 16%; */
  text-align: left !important;
  font-size: 16px;
  float: left;
  padding-top: 5px;
  text-transform: capitalize;
}

.change{
  margin-bottom: 10px;
  /* width: 60%; */
  /* border: solid 1px red; */
}

.center{
  background-color: #fff;
  display: inline-block;
  width: 130px  !important;
  padding: 9px;
  margin: 0 10px;
  border-radius: 200px;
  font-size: 15px;
  width: 140px;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  /* border: solid 1px rgb(110, 110, 110); */
  position: relative;
  top: -5px;
}

.btn{
  padding-top: 3px;
  padding-right: 5px;
  background-color: #333;
  color: #fff;
  font-weight: bold;
  /* font-size: 0px; */
  /* padding: 5px; */
  width: 31px;
  height: 31px;
  border: none;
  border-radius: 100px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.submit{
  border: none;
  width: 120px  !important;
  background-color: #02f7b5;
  font-weight: bold;

  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.submit:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  /* color: #fff; */
  transform: translateY(-6px);
}
.SH{
  /* text-align: center; */
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 6px 18px;
  border-radius: 60px;
}

.r-btn{
  /* transform: rotate(180deg); */
}